dist
node_modules
.env
.venv
package-lock.json
.vscode
input_file.txt
harvester.py
output.json
.firebase
.firebaserc
public
dataconnect
dataconnect-generated
firebase.json
apphosting.yaml
copy_to_public.py
database.rules.json
storage.rules