html,
body,
div,
article,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
a,
button,
input,
textarea,
select,
details,
details[open],
summary,
footer,
nav {
    transition: background-color 0.3s ease-in-out, color 0.1s ease;
}

article div{
    height: 100%;
}

details {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: var(--on-surface);
    padding: 5px;
    border-radius: 0.45rem;
    margin: 5px;
}

details[open] {
    height: auto;
    max-height: 99em !important;
    border: 0.0625rem solid var(--on-surface) !important;
    background-color: var(--surface);
}

summary {
    outline: none;
    font-size: 1.15em;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}

summary:before {
    color: var(--surface);
    border-radius: 50%;
    text-align: center;
    margin: 0 0.5em 0 0.25em;
}

details[open] > summary:before {
    color: var(--on-surface);
}

details:not([open]) summary{
    color: var(--surface);
}

details[open] summary{
    color: var(--on-surface);
}
