<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Gross">
    <meta name="description" content="A collection of curriculums made into a comprehensive web page for ease-of-use.">
    <meta name="keywords"
        content="gradiance, education, grading, content, platform, Curiki, wiki, curriculum, math, mathematics, science, ela, social studies, physics, chemistry, biology">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/icons/curiki.png">
    <title>Curiki</title>
</head>

<header class="fixed no-padding">
    <nav class="left-padding right-padding">
        <button class="circle transparent" onclick="ui('#about-dialog')">
            <img class="responsive icon" fetchpriority="low" loading="lazy" src="/static/icons/curiki.png" alt=""
                width="32" height="32">
        </button>
        <h5 class="max small">Curiki</h5>
        <button class="circle transparent" id="theme-toggle">
            <i id="theme-icon">dark_mode</i>
        </button>
    </nav>
</header>

<body class="light">
    <main class="responsive">
        <div class="grid no-space">
            <div class="s12 m4 l3">
                <details class="small-padding" open>
                    <summary>Completed Curriculums</summary>
                    <nav class="vertical">
                        <label class="checkbox">
                            <input type="checkbox" checked disabled>
                            <span>Manitoba Mathematics</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" disabled>
                            <span>Manitoba Physics</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" disabled>
                            <span>Manitoba ELA</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" checked disabled>
                            <span>Manitoba Science</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" checked disabled>
                            <span>Manitoba Biology</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" checked disabled>
                            <span>Manitoba Social Studies</span>
                        </label>
                    </nav>
                </details>
            </div>
            <div class="s12 m8 l9">
                <details class="small-padding" open>
                    <summary>Manitoba Curriculums</summary>
                    <div>
                        <a class="small-round row wave padding small-margin blue-background"
                            href="/manitobaMathematicsCurriculum.html">
                            <button class="extra circle blue-banner"><i class="extra">calculate</i></button>
                            <div class="max">
                                <h6 class="small">Mathematics</h6>
                                <div>Kindergarten to Grade 12</div>
                            </div>
                        </a>
                        <a class="small-round row wave padding small-margin green-background"
                            href="/manitobaScienceCurriculum.html">
                            <button class="extra circle green-banner"><i class="extra">science</i></button>
                            <div class="max">
                                <h6 class="small">Science</h6>
                                <div>Kindergarten to Grade 10</div>
                            </div>
                        </a>
                        <a class="small-round row wave padding small-margin green-background"
                            href="/manitobaBiologyCurriculum.html">
                            <button class="extra circle green-banner"><i class="extra">genetics</i></button>
                            <div class="max">
                                <h6 class="small">Biology</h6>
                                <div>Grade 11 to Grade 12</div>
                            </div>
                        </a>
                        <a class="small-round row wave padding small-margin orange-background"
                            href="/manitobaSocialStudiesCurriculum.html">
                            <button class="extra circle orange-banner"><i class="extra">public</i></button>
                            <div class="max">
                                <h6 class="small">Social Studies</h6>
                                <div>Kindergarten to Grade 8</div>
                            </div>
                        </a>
                    </div>
                </details>
            </div>
        </div>
    </main>
</body>

<div class="overlay blur"></div>
<dialog class="left" id="about-dialog">
    <div class="row max center-align">
        <img class="icon responsive circle border" style="max-width: 150px; height: auto;" fetchpriority="low"
            loading="lazy" src="/static/icons/curiki.png" alt="" width="128" height="128">
    </div>
    <div class="padding">
        <h5 class="small center-align">Curiki</h5>
        <p class="center-align  medium-width">
            A comprehensive web page for accessing curriculums.
        <p class="center-align">Developed with <i>favorite</i> by <a class="link"
                href="https://thecodingjsoftware.github.io/">TheCodingJ's</a></p>
    </div>
    <article class="border" style="margin-top: auto;">
        <p class="center-align medium-width">
            For questions, comments, suggestions,
            or concerns about this service please
            email: <a class="link" href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>.
        </p>
    </article>
    <nav class="right-align no-space">
        <button class="transparent link small-round" onclick="ui('#about-dialog')">
            <span>Close</span>
        </button>
    </nav>
</dialog>

</html>