<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Gross">
    <meta name="description" content="A collection of curriculums made into a comprehensive web page for ease-of-use.">
    <meta name="keywords" content="curriculum, wiki, manitoba, education, grading, content, platform, curiki, math, mathematics, science, ela, social studies, physics, chemistry, biology">
    <meta http-equiv="refresh" content="0; url=/curiki">
    <title>Curiki</title>
</head>

<body>
    <p>If you are not redirected automatically, follow this <a href="/curiki">link to /curiki</a>.</p>
</body>

</html>