<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Gross">
    <meta name="description"
        content="A comprehensive web page for accessing the K-8 Manitoba Social Studies Curriculum.">
    <meta name="keywords"
        content="gradiance, education, grading, content, platform, Curiki, wiki, curriculum, math, mathematics, science, ela, social studies, physics, chemistry, biology">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/icons/curiki.png">
    <title>K-8 Manitoba Social Studies Curriculum</title>
</head>


<header class="fixed no-padding">
    <nav class="primary left-padding right-padding">
        <button class="circle transparent " onclick='window.location.href="/Curiki.html"'>
            <i class="mdi mdi-arrow-left"></i>
        </button>
        <h5 class="max small">K-8 Manitoba Social Studies Curriculum</h5>
        <button class="circle transparent" id="theme-toggle">
            <i id="theme-icon">dark_mode</i>
        </button>
    </nav>
    <div id="tabs-container">
        <div class="tabs scroll" id="tabs">
            <a class="active" data-ui="#grade_0">
                <span>Kindergarten</span>
            </a>
            <a data-ui="#grade_1">
                <span>Grade 1</span>
            </a>
            <a data-ui="#grade_2">
                <span>Grade 2</span>
            </a>
            <a data-ui="#grade_3">
                <span>Grade 3</span>
            </a>
            <a data-ui="#grade_4">
                <span>Grade 4</span>
            </a>
            <a data-ui="#grade_5">
                <span>Grade 5</span>
            </a>
            <a data-ui="#grade_6">
                <span>Grade 6</span>
            </a>
            <a data-ui="#grade_7">
                <span>Grade 7</span>
            </a>
            <a data-ui="#grade_8">
                <span>Grade 8</span>
            </a>
        </div>
    </div>
</header>

<body class="math-light">
    <main class="responsive">
        <div class="snackbar primary" id="copy-outcome-snackbar">
            <span>Outcome copied to clipboard</span>
        </div>
        <div class=grid>
            <div class="s12 m12 l7">
                <div class="field label prefix border">
                    <i>search</i>
                    <input type="text" id="search">
                    <label>Search</label>
                    <span class="helper">You can search by the outcomes' ID or specific learning outcomes.</span>
                </div>
                <br>
                <h6>Learning outcomes</h6>
                <label class="checkbox">
                    <input type="checkbox" id="always-open-outcome">
                    <span>Always open outcome</span>
                </label>
                <div class="grid tiny-padding scroll small-round tiny-space" id="content">

                </div>
            </div>
            <div class="s12 m12 l5">
                <h6 class="top-padding">Choose clusters</h6>
                <div class="padding" style="max-height: 250px; overflow-y: auto;" id="clusters-container"></div>
                <hr>
                <h6 class="top-padding">Choose general outcomes</h6>
                <div class="padding" style="max-height: 250px; overflow-y: auto;" id="general-outcomes-container"></div>
                <hr>
                <h6 class="top-padding">Choose outcome types</h6>
                <div class="padding" style="max-height: 250px; overflow-y: auto;" id="outcome-types-container"></div>
                <hr>
                <h6 class="top-padding">Choose skill types</h6>
                <div class="padding" style="max-height: 250px; overflow-y: auto;" id="skill-types-container"></div>
                <hr>
                <h6 class="top-padding">Choose distinctive learning outcomes</h6>
                <div class="padding" style="max-height: 250px; overflow-y: auto;" id="distinctive-learning-container">
                </div>
            </div>
        </div>
    </main>
</body>

<!-- Skills Dialogs from Curriculum -->

<dialog class="right medium-width" id="C-dialog">
    <div class="row no-padding no-margin">
        <i>how_to_vote</i>
        <h5 class="max">Citizenship [C]</h5>
    </div>
    <p class="bold">
        Citizenship As a Core Concept in Social Studies
    </p>
    <p>
        Citizenship skills enable students to develop good relations with others, to work in cooperative ways toward
        achieving common goals, and to collaborate with others for the well-being of their communities. These
        interpersonal skills focus on cooperation, conflict resolution, taking responsibility, accepting differences,
        building consensus, negotiation, collaborative decision making, and learning to deal with dissent and
        disagreement.
    </p>
    <p class="bold">
        Role of Citizenship in Social Studies
    </p>
    <p>
        Citizenship is the core concept that provides the learning focus for social studies at all grades. To identify
        the skills, knowledge, and values that students will need as active democratic citizens, social studies must
        take into account the society in which students live and anticipate the challenges they will face in the future.
        Citizenship is a fluid concept that changes over time: its meaning is often contested, and it is subject to
        interpretation and continuing debate.
        Achievement of the learning outcomes identified in this Framework will prepare students to participate in the
        public dialogue that characterizes any democracy and that plays an important role in Canadian society. As
        students engage in this dialogue, they will enhance their understanding of citizenship in Canada and the world,
        and will be better prepared to become active participants in their communities, locally, nationally, and
        globally.
        Rationale for Citizenship Education
        Citizenship education is fundamental to living in a democratic society. The concept of citizenship takes on
        meaning in specific contexts and is determined by time and place. Diverse notions of citizenship have been used
        in the past and are being used in the present, for both good and ill. Throughout much of history, citizenship
        has been exclusionary, class-based, racist, and sexist. In Canada, for instance, First Nations parents were
        forced to send their children to residential schools in the interests of citizenship.
        The concept of citizenship must be considered within the context of democracy, human rights, and public debate.
        Social studies provides opportunities for students to explore the complexities of citizenship.
    </p>

    <p class="bold">
        Active Democratic Citizenship in Canada
    </p>
    <p>
        Since citizenship issues are rooted in the past, Canadian history occupies an important place in the social
        studies curriculum. Canada is regionally diverse and geographically expansive. It is organized as a federal
        parliamentary monarchy, with a mixed, although largely capitalist, economy. It is a bilingual and multicultural
        country committed to pluralism, human rights, and democracy. Canada is regarded as one of the most prosperous,
        peaceful, and democratic countries in the world, although it still has its share of economic and social
        injustices and inequities.
        Canada is a complex country that requires special qualities in its citizens. These citizenship qualities
        include:
    </p>
    <ul>
        <li>knowledge of Canadian history and geography</li>
        <li>understanding of the distinctive nature of Canadian society, the Canadian state, and its institutions</li>
        <li>the ability to approach public issues critically, rationally, and democratically</li>
        <li>informed involvement in public affairs</li>
        <li>respect for human rights and democratic ideals and principles</li>
        <li>commitment to freedom, equality, and social justice</li>
        <li>the ability to work through conflicts and contradictions that can arise among citizens</li>
        <li>willingness to live with ambiguity and uncertainty</li>
        <li>civility and tolerance for dissension and disagreement</li>
        <li>willingness to balance the pursuit of private interests with concern for the public good</li>
        <li>the ability to balance personal claims of conscience and principle against the similar claims of others</li>
        <li>a sense of shared identity as Canadians, combined with a realization that Canadian identity is multi-
            faceted, open to debate, and not exclusive of other identities</li>
    </ul>
    <p class="bold">
        Canadian Citizenship for the Future
    </p>
    <p>
        For the foreseeable future, Canadian citizens will likely continue to face issues such as
    </p>
    <ul>
        <li>balancing the jurisdictional claims of the provinces and the federal government</li>
        <li>redressing past and present injustices inflicted on Aboriginal peoples and other groups in Canada</li>
        <li>coming to terms with the complexities of Québec's place in Canada</li>
        <li>balancing regional and cultural diversity with national unity</li>
        <li>protecting Canadian identity and sovereignty</li>
        <li>assuring access to social services and quality of life for all</li>
        <li>eliminating inequalities related to race, gender, age, class, and ethnicity</li>
        <li>protecting the environment</li>
        <li>ensuring the successful functioning of the economy</li>
    </ul>
    <p class="bold">
        Citizenship in the Global Context
    </p>
    <p>
        Canada does not exist in isolation; it is part of a global community that is becoming increasingly
        interconnected and interdependent. Many of the most serious problems facing the world must be dealt with on a
        global basis.
        The nation-state—including Canada—is under increasing challenge, externally from the forces of globalization,
        and internally from demands for more local or regional autonomy. The world also continues to be characterized by
        severe disparities between rich and poor countries.
        This disparity violates the basic principles of social justice and human dignity, and, at the same time, gives
        rise to dangerous tensions and rivalries. War and violence continue to be a common means of addressing internal
        and international disputes, and, because of developments in weapons technology, are becoming ever more
        destructive. In these circumstances, Canadian citizens need to think and act globally as well as nationally.
    <p class="bold">
        Environmental Citizenship
    </p>
    <p>
        Underlying both national and global realities, and the responsibilities they impose on citizens, is the
        increasing
        fragility of the natural environment. Quality of life depends upon the sustainability of the environment. This
        places a particularly important responsibility on citizens, who must ultimately balance the demands of economic
        growth and high living standards against respect for the environment and the needs of future generations.

    </p>

    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="I-dialog">
    <div class="row no-padding no-margin">
        <i>groups</i>
        <h5 class="max">Identity, Culture, and Community [I]</h5>
    </div>
    <p>
        Students will explore concepts of identity, culture, and community in relation to individuals, societies, and
        nations.
    </p>
    <p>
        Many factors influence identity and life in communities, including culture, language, history, and shared
        beliefs and values. Identity is subject to time and place, and is shaped by a multiplicity of personal, social,
        and economic factors. A critical consideration of identity, culture, and community provides students with
        opportunities to explore the symbols and expressions of their own and others’ cultural and social groups.
        Through a study of the ways in which people live together and express themselves in communities, societies, and
        nations, students enhance their understanding of diverse perspectives and develop their competencies as social
        beings. This process enables them to reflect upon their roles as individuals and citizens so as to become
        contributing members of their groups and communities.
    </p>
    <p>
        The specific learning outcomes within Identity, Culture, and Community include concepts such as human
        interaction and interdependence, cultural diversity, national identities, and pluralism.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#I-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="L-dialog">
    <div class="row no-padding no-margin">
        <i>groups</i>
        <h5 class="max">The Land: Places and People [L]</h5>
    </div>
    <p>
        Students will explore the dynamic relationships of people with the land, places, and environments.
    </p>
    <p>
        People exist in dynamic relationships with the land. The exploration of people’s relationships with places and
        environments creates an understanding of human dependence and impact upon the natural environment. Students
        explore how spatial and physical characteristics of the environment affect human life, cultures, and societies.
        They consider how connections to the land influence their identities and define their roles and responsibilities
        as citizens, locally, nationally, and globally.
    </p>
    <p>
        The specific learning outcomes within The Land: Places and People focus on geographic understanding and skills,
        and
        concepts such as sustainability, stewardship, and the relationship between people and the land.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#L-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="H-dialog">
    <div class="row no-padding no-margin">
        <i>terrain</i>
        <h5 class="max">Historical Connections [H]</h5>
    </div>
    <p>
        Students will explore how people, events, and ideas of the past shape the present and influence the future.
    </p>
    <p>
        The past shapes who we are. An exploration of Canadian and world history enables students to acquire knowledge
        and appreciation of the past, to understand the present, and to live with regard for the future. An important
        aspect of this process is the disciplined investigation and interpretation of history. Students learn to think
        historically as they explore people, events, ideas, and evidence of the past. As they reflect upon diverse
        perspectives, personal narratives, parallel accounts, and oral and social histories, students develop the
        historical understanding that provides a foundation for active democratic citizenship.
    </p>
    <p>
        The specific learning outcomes within Historical Connections enable students to develop an interest in the past,
        and focus on chronological thinking, historical understanding, and concepts such as progress, decline,
        continuity, and change.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#H-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="G-dialog">
    <div class="row no-padding no-margin">
        <i>history</i>
        <h5 class="max">Global Interdependence [G]</h5>
    </div>
    <p>
        Students will explore the global interdependence of people, communities, societies, nations, and environments.
    </p>
    <p>
        People, communities, societies, nations, and environments are interdependent. An exploration of this
        interdependence enhances students’ global consciousness and helps them develop empathy with respect to the human
        condition. Students critically consider diverse perspectives as they examine the connections that link local,
        national, and global communities. Consideration of global connections enables students to expand their knowledge
        of the world in which they live and to engage in active democratic citizenship.
    </p>
    <p>
        The specific learning outcomes within Global Interdependence focus on human rights and responsibilities,
        diversity and commonality, quality of life and equity, globalization, international cooperation and conflict,
        and global environmental concerns.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#G-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="P-dialog">
    <div class="row no-padding no-margin">
        <i>gavel</i>
        <h5 class="max">Power and Authority [P]</h5>
    </div>
    <p>
        Students will explore the processes and structures of power and authority, and their implications for
        individuals, relationships, communities, and nations.
    </p>
    <p>
        Power and authority influence all human relationships. Students critically examine the distribution, exercise,
        and implications of power and authority in everyday life and in formal settings. They consider diverse forms of
        governance and leadership, and inquire into issues of fairness and equity. This exploration helps students
        develop a sense of personal empowerment as active democratic citizens.
    </p>
    <p>
        The specific learning outcomes within Power and Authority include concepts such as political structures and
        decision making, governance, justice, rules and laws, conflict and conflict resolution, and war and peace.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#P-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="E-dialog">
    <div class="row no-padding no-margin">
        <i>attach_money</i>
        <h5 class="max">Economics and Resources [E]</h5>
    </div>
    <p>
        Students will explore the distribution of resources and wealth in relation to individuals, communities, and
        nations.
    </p>
    <p>
        The management and distribution of resources and wealth have a direct impact on human societies and quality of
        life. Students explore the effects of economic interdependence on individuals, communities, and nations in the
        global context. They examine economic factors that affect decision making, the use of resources, and the
        development of technologies. As students explore diverse perspectives regarding human needs, wants, and quality
        of life, they critically consider the social and environmental implications of the distribution of resources and
        technologies, locally, nationally, and globally.
    </p>
    <p>
        The specific learning outcomes within Economics and Resources include concepts such as trade, commerce, and
        industry, access to resources, economic disparities, economic systems, and globalization.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#E-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>


<dialog class="right medium-width" id="SADC-dialog">
    <div class="row no-padding no-margin">
        <i>how_to_vote</i>
        <h5 class="max">Active Democratic Citizenship</h5>
    </div>
    <p>
        Citizenship skills enable students to develop good relations with others, to work in cooperative ways toward
        achieving common goals, and to collaborate with others for the well-being of their communities. These
        interpersonal skills focus on cooperation, conflict resolution, taking responsibility, accepting differences,
        building consensus, negotiation, collaborative decision making, and learning to deal with dissent and
        disagreement.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#SADC-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>


<dialog class="right medium-width" id="SMI-dialog">
    <div class="row no-padding no-margin">
        <i>lightbulb</i>
        <h5 class="max">Manage Information and Ideas</h5>
    </div>
    <p>Information-management skills enable students to access, select, organize, and record information and ideas using
        a variety of sources, tools, and technologies. These skills include inquiry and research skills that enhance
        historical and geographical thinking.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#SMI-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>


<dialog class="right medium-width" id="SCT-dialog">
    <div class="row no-padding no-margin">
        <i>psychology</i>
        <h5 class="max">Creative and Critical Thinking</h5>
    </div>
    <p>
        Critical and creative thinking skills enable students to make observations and decisions, to solve problems, and
        to devise forward-thinking strategies. These skills involve making connections among concepts and applying a
        variety of tools. Critical thinking involves the use of criteria and evidence to make reasoned judgements.
    </p>
    <p>
        These judgements include distinguishing fact from opinion and interpretation, evaluating information and ideas,
        identifying perspectives and bias, and considering the consequences of decisions and actions. Creative thinking
        emphasizes divergent thinking, the generation of ideas and possibilities, and the exploration of diverse
        approaches to questions.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#SCT-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>


<dialog class="right medium-width" id="SC-dialog">
    <div class="row no-padding no-margin">
        <i>chat</i>
        <h5 class="max">Communication</h5>
    </div>
    <p>
        Communication skills enable students to interpret and express ideas clearly and purposefully using a variety of
        media. These skills include the development of oral, visual, print, and media literacy, and the use of
        information and communication technologies for the exchange of information and ideas.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#SC-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C01-dialog">
    <div class="row no-padding no-margin">
        <i>person</i>
        <h5 class="max">Cluster 1: Me</h5>
    </div>
    <p>
        Students explore what makes them unique, considering their abilities and interests, and identify groups and
        places that are important to them. They also examine rules and responsibilities and study basic needs.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C01-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C02-dialog">
    <div class="row no-padding no-margin">
        <i>people</i>
        <h5 class="max">Cluster 2: The People around Me</h5>
    </div>
    <p>
        Students identify the people who care for them and influence their lives. They explore different ways of
        cooperating, communicating, and solving problems in order to live and work together with others. Students also
        begin to examine time by investigating recurring events in their lives.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C02-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C03-dialog">
    <div class="row no-padding no-margin">
        <i>public</i>
        <h5 class="max">Cluster 3: The World around Me</h5>
    </div>
    <p>
        Students study the world around them, exploring the physical environment of their local neighbourhood and
        learning that they live in a country called Canada. They learn that although all people have the same basic
        needs, they have different ways of meeting those needs.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C03-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C11-dialog">
    <div class="row no-padding no-margin">
        <i>emoji_people</i>
        <h5 class="max">Cluster 1: I Belong</h5>
    </div>
    <p>
        Students study the world around them, exploring the physical environment of their local neighbourhood and
        learning that they live in a country called Canada. They learn that although all people have the same basic
        needs, they have different ways of meeting those needs.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C11-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C12-dialog">
    <div class="row no-padding no-margin">
        <i>nature</i>
        <h5 class="max">Cluster 2: My Environment</h5>
    </div>
    <p>
        Students explore their environment. They study maps and globes, locate themselves in their community, in
        Manitoba, and in Canada, and discover various aspects of their community, including the natural environment and
        important landmarks and places. They also explore the national aspects of official languages and Canada's
        national anthem. In addition, students distinguish between needs and wants, and explore how the media influence
        choices.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C12-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C13-dialog">
    <div class="row no-padding no-margin">
        <i>connect_without_contact</i>
        <h5 class="max">Cluster 3: Connecting with Others</h5>
    </div>
    <p>
        Students explore their responsibilities and rights as members of communities and learn various ways people help
        and depend upon one another. They consider diverse and similar ways people live, meet their needs, express
        themselves, and influence each other. They also explore the purpose of rules and the causes of and solutions to
        conflict.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C13-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C21-dialog">
    <div class="row no-padding no-margin">
        <i>location_city</i>
        <h5 class="max">Cluster 1: Our Local Community</h5>
    </div>
    <p>
        Students focus on various aspects of communities. They locate their local communities on a map and explore the
        influence of the natural environment, important people and leaders, and cultural groups in their communities.
        Through stories of their local community, past and present, students become aware of their identity and
        heritage. They also consider their personal contributions to leadership and peaceful conflict resolution.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C21-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C22-dialog">
    <div class="row no-padding no-margin">
        <i>map</i>
        <h5 class="max">Cluster 2: Communities in Canada</h5>
    </div>
    <p>
        Students enhance their awareness of the cultural and geographic diversity of Canada through the study of one
        Aboriginal community and one other Canadian community. They explore natural and constructed features of
        communities and examine concepts related to natural resources, work, goods, and services, and how these factors
        shape life in communities. They also discover how communities have changed over time.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C22-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C23-dialog">
    <div class="row no-padding no-margin">
        <i>flag</i>
        <h5 class="max">Cluster 3: The Canadian Community</h5>
    </div>
    <p>
        Students explore different aspects of Canada, including national symbols, the origins of place names, and the
        presence and influence of diverse languages and cultural communities. They examine the diverse yet similar
        aspects of the Canadian community and how people in communities meet their needs. They also locate Canada on a
        map and consider connections that link Canada to other countries.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C23-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C31-dialog">
    <div class="row no-padding no-margin">
        <i>groups</i>
        <h5 class="max">Cluster 1: Connecting with Canadians</h5>
    </div>
    <p>
        Students examine the rights and responsibilities of Canadian citizens and explore their connections with other
        Canadians. This includes a focus on Canada's national anthem and Remembrance Day. Students also consider
        community influences and interactions related to identity, leadership, and decision-making, and explore ways of
        dealing with conflict and bullying.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C31-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C32-dialog">
    <div class="row no-padding no-margin">
        <i>explore</i>
        <h5 class="max">Cluster 2: Exploring the World</h5>
    </div>
    <p>
        Students are introduced to world geography and the use of maps and images to represent geographic concepts such
        as borders, hemispheres, and the equator. They explore common concerns and connections between world
        communities. They also examine human rights, the role of community services, and the effects of personal
        decisions.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C32-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C33-dialog">
    <div class="row no-padding no-margin">
        <i>language</i>
        <h5 class="max">Cluster 3: Communities of the World</h5>
    </div>
    <p>
        Students enrich their appreciation of global diversity as they explore communities and cultures in other places
        of the world. Students explore the elements that constitute a culture and examine the physical, social, and
        cultural characteristics of two contemporary communities of the world, one of which is an indigenous community.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C33-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C34-dialog">
    <div class="row no-padding no-margin">
        <i>history_edu</i>
        <h5 class="max">Cluster 4: Exploring an Ancient Society</h5>
    </div>
    <p>
        Students explore life in one ancient society selected from a choice of Egypt, China, Japan, the Vikings, Incas,
        Mayas, or Aztecs. They consider various aspects of that society, including its ways of life, cultural
        expressions, customs and traditions, and enduring contributions.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C34-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>
<dialog class="right medium-width" id="C41-dialog">
    <div class="row no-padding no-margin">
        <i>terrain</i>
        <h5 class="max">Cluster 1: Geography of Canada</h5>
    </div>
    <p>
        Students study the physical geography of Manitoba and Canada, including the political boundaries and geographic
        regions of Canada.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C41-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C42-dialog">
    <div class="row no-padding no-margin">
        <i>home</i>
        <h5 class="max">Cluster 2: Living in Canada</h5>
    </div>
    <p>
        Students enhance their awareness of Canada by examining various aspects of government, leadership, and power,
        including concepts related to citizenship and democracy. This study includes a focus on national, provincial,
        and territorial symbols, monuments, and commemorative days.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C42-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C43-dialog">
    <div class="row no-padding no-margin">
        <i>place</i>
        <h5 class="max">Cluster 3: Living in Manitoba</h5>
    </div>
    <p>
        Students explore the physical and natural environment, people, places, and communities of Manitoba. They also
        consider Manitoba's contributions and links to the rest of the world.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C43-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C44-dialog">
    <div class="row no-padding no-margin">
        <i>history</i>
        <h5 class="max">Cluster 4: History of Manitoba</h5>
    </div>
    <p>
        Students explore important events and individuals from Manitoba's past. This study includes a focus on early
        settlement, contributions of diverse cultural communities, and ways in which life in Manitoba has changed over
        time.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C44-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C45-dialog">
    <div class="row no-padding no-margin">
        <i>ac_unit</i>
        <h5 class="max">Cluster 5: Canada's North</h5>
    </div>
    <p>
        Students explore one of Canada's northern territories. They consider the physical and human geography of the
        territory studied, which includes a focus on stories, traditions, and changes in ways of life in Canada's North.
        Students examine Aboriginal contributions, as well as the contribution of the North to the Canadian community.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C45-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C51-dialog">
    <div class="row no-padding no-margin">
        <i>emoji_nature</i>
        <h5 class="max">Cluster 1: First Peoples</h5>
    </div>
    <p>
        Students explore First Peoples' ways of life before and during their early contact with Europeans, which
        includes a focus on the daily life, leadership, culture, and beliefs of First Peoples communities. Students also
        consider traditional territories of First Peoples and their connections with the natural environment.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C51-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C52-dialog">
    <div class="row no-padding no-margin">
        <i>sailing</i>
        <h5 class="max">Cluster 2: Early European Colonization (1600 to 1763)</h5>
    </div>
    <p>
        Students examine causes and consequences of European exploration and settlement in early Canada. This study
        includes a focus on individuals and places of the period, as well as daily life of French and British colonists
        and their relationships with First Peoples. Students explore the influence of the environment, resources, trade,
        and conflict during the establishment of the French and British colonial empires. They also study the Acadian
        deportation, settlement of Nouvelle-France, and the British conquest of Nouvelle-France.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C52-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C53-dialog">
    <div class="row no-padding no-margin">
        <i>storefront</i>
        <h5 class="max">Cluster 3: Fur Trade</h5>
    </div>
    <p>
        Students explore the influence of the fur trade on the exploration, westward and northward expansion, and
        historical development of Canada. This study includes a focus on explorers and other groups associated with the
        fur trade, social and economic aspects of the fur trade, rivalry between the Hudson's Bay Company and North West
        Company, the rise of the Métis Nation, and settlement of the Red River colony.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C53-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C54-dialog">
    <div class="row no-padding no-margin">
        <i>gavel</i>
        <h5 class="max">Cluster 4: From British Colony to Confederation (1763 to 1867)</h5>
    </div>
    <p>
        Students examine life and citizenship in British North America. This study includes a focus on the United Empire
        Loyalists, War of 1812, Selkirk Settlement, 1837 to 1838 Rebellions, and the people, issues, and events
        surrounding the origins of Canadian Confederation. Students explore cultural diversity in early Canada,
        including relationships between Europeans, First Peoples, and Métis people. They also consider issues related to
        traditional Métis lands and communities, immigration, culture, and identity.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C54-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C61-dialog">
    <div class="row no-padding no-margin">
        <i>account_balance</i>
        <h5 class="max">Cluster 1: Building a Nation (1867 to 1914)</h5>
    </div>
    <p>
        Students examine life in post-Confederation Canada. They explore the expansion of Canada through the addition of
        new provinces and territories, including the influence of individuals and events of this time. Students focus on
        the entry of Manitoba into Confederation, establishment of treaties and reserves, building of railroads, role of
        the North West Mounted Police, the 1885 Resistance, and the gold rushes. Students consider the impact of
        immigration and hardships faced by new settlers. They also study cultural diversity, including the evolving
        relationships between First Nations, Inuit, and Métis peoples and the Canadian government, and relationships
        between anglophones and francophones.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C61-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C62-dialog">
    <div class="row no-padding no-margin">
        <i>military_tech</i>
        <h5 class="max">Cluster 2: An Emerging Nation (1914 to 1945)</h5>
    </div>
    <p>
        Students examine Canada as a newly emerging nation. This study includes a focus on the Winnipeg General Strike,
        the Depression, the causes and events of the two World Wars, and Canada's involvement in these wars. Students
        explore social, political, and economic changes that occurred during this period, such as women's suffrage,
        urbanization, and technological developments.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C62-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C63-dialog">
    <div class="row no-padding no-margin">
        <i>timeline</i>
        <h5 class="max">Cluster 3: Shaping Contemporary Canada (1945 to Present)</h5>
    </div>
    <p>
        Students explore factors that have shaped contemporary Canadian life. This study includes a focus on the impact
        of global events and forces, Canadian involvement in international organizations and world conflicts, and the
        impact of technological and industrial advancements. Students also study developments regarding Aboriginal
        rights and the evolution of Canada as a bilingual and multicultural nation.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C63-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C64-dialog">
    <div class="row no-padding no-margin">
        <i>gavel</i>
        <h5 class="max">Cluster 4: Canada Today: Democracy, Diversity, and the Influence of the Past</h5>
    </div>
    <p>
        Students explore Canadian governance, citizenship, and identity, and the ideals, responsibilities, and rights of
        democracy. This study includes a focus on electoral processes, as well as federal, provincial, First Nations,
        and municipal governments, and the responsibilities of elected representatives. Students examine issues related
        to the protection and expression of culture and identity and the role of various groups and organizations in the
        promotion of identity and democratic rights. Students also consider the influence of the natural environment, as
        well as the contributions of past generations in shaping modern-day Canada.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C64-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C71-dialog">
    <div class="row no-padding no-margin">
        <i>public</i>
        <h5 class="max">Cluster 1: World Geography</h5>
    </div>
    <p>
        Students examine human and physical geography and their connections. This study includes a focus on maps and
        mapping, population clusters, principal regions, bodies of water, vegetation and climatic zones, more and less
        developed nations, and time zones.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C71-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C72-dialog">
    <div class="row no-padding no-margin">
        <i>thumb_up</i>
        <h5 class="max">Cluster 2: Global Quality of Life</h5>
    </div>
    <p>
        Students examine environmental, social, and cultural factors that affect quality of life for people in Canada
        and other places in the world. This study includes a focus on concepts related to universal human rights,
        diverse cultural perspectives, citizenship and democracy, identity, and discrimination. Students examine the
        role of international agencies and global cooperation, the relationship between wealth, resources, and power, as
        well as the impact of their personal actions on quality of life for people in other places.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C72-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C73-dialog">
    <div class="row no-padding no-margin">
        <i>local_florist</i>
        <h5 class="max">Cluster 3: Ways of Life in Asia, Africa, or Australasia</h5>
    </div>
    <p>
        Students examine how various factors shape ways of life in one contemporary society, selected from a choice of
        Asia, Africa, or Australasia. This study includes a focus on environmental, historical, social, political, and
        cultural issues, as well as a focus on indigenous peoples. Students also explore economic activities, including
        work and trade, and consider the impact of technological change, urbanization, industrialization, and
        westernization within the selected society.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C73-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C74-dialog">
    <div class="row no-padding no-margin">
        <i>eco</i>
        <h5 class="max">Cluster 4: Human Impact in Europe or the Americas</h5>
    </div>
    <p>
        Students examine the impact of human activities in one contemporary society, selected from a choice of Europe or
        the Americas. This study includes a focus on environmental, social, political, cultural, and economic issues.
        Students explore historical events, climate change, technological development and urbanization, use of natural
        resources, food production and distribution, and consumerism. They also consider concepts related to sustainable
        development. Finally, as students assess the consequences of their personal actions and choices, they come to
        understand their roles as citizens in an increasingly interdependent world.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C74-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C81-dialog">
    <div class="row no-padding no-margin">
        <i>history</i>
        <h5 class="max">Cluster 1: Understanding Societies Past and Present</h5>
    </div>
    <p>
        In Cluster 1, students explore concepts related to society, civilization, and world view. This study includes a
        focus on stories and theories of the origin and development of human life and the transition from
        hunter-gatherer to agrarian ways of life. In addition, students examine ways in which societies change or remain
        the same, how they organize and perpetuate themselves, and how the natural environment influences their
        development. Students also study various sources of historical knowledge and consider the importance of knowing
        and understanding the past.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C81-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C82-dialog">
    <div class="row no-padding no-margin">
        <i>landscape</i>
        <h5 class="max">Cluster 2: Early Societies of Mesopotamia, Egypt, or the Indus Valley</h5>
    </div>
    <p>
        Cluster 2 begins with a brief world overview, focusing on Mesopotamia, Egypt, the Indus Valley, and China from
        about 3500 to 500 BCE. Students then explore life in one early society, selected from a choice of Mesopotamia,
        Egypt, or the Indus Valley. This comprehensive study includes a focus on the physical environment and the
        social, political, technological, and cultural aspects of the selected society.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C82-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C83-dialog">
    <div class="row no-padding no-margin">
        <i>architecture</i>
        <h5 class="max">Cluster 3: Ancient Societies of Greece and Rome</h5>
    </div>
    <p>
        Cluster 3 begins with a brief world overview, focusing on China, Greece, Rome, Persia, and the Mayas from about
        500 BCE to 500 CE. This overview includes a consideration of world religions that emerged during this time
        period. Students then explore life in ancient societies of both Greece and Rome. This comprehensive study
        focuses on the physical environment and the social, cultural, political, economic, and technological issues of
        these societies. Students consider the enduring qualities of the art, architecture, science, and ideas of
        ancient Greece and Rome, and explore their influence on the contemporary world.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C83-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C84-dialog">
    <div class="row no-padding no-margin">
        <i>timeline</i>
        <h5 class="max">Cluster 4: Transition to Modern World (Circa 500 to 1400)</h5>
    </div>
    <p>
        Cluster 4 has a global perspective. It begins with a brief world overview, focusing on China, Europe, the Middle
        East, Africa, Asia, and the Americas from about 500 to 1400. Students then explore individuals and events in
        selected places in the world during this time period. This study includes a focus on the impact of the fall of
        Rome, the rise of Islam, Arab conquests and Viking invasions, life in medieval Europe, and the expansion of the
        Mongol and Ottoman Empires. Students examine the significance and impact of technological development and the
        spread of ideas during this period.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C84-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

<dialog class="right medium-width" id="C85-dialog">
    <div class="row no-padding no-margin">
        <i>build</i>
        <h5 class="max">Cluster 5: Shaping the Modern World (Circa 1400 to 1850)</h5>
    </div>
    <p>
        Cluster 5 begins with a brief world overview, focusing on Europe, Africa, Asia, Australasia, and the Americas
        from about 1400 to 1850. Students then explore individuals, ideas, and events related to the Renaissance, the
        Protestant Reformation, global exploration, and the Industrial Revolution. Students also focus on the impact of
        changing social and political ideas and advances in science and technology.
    </p>
    <div class="right-align">
        <button class="transparent link small-round" onclick="ui('#C85-dialog')">
            <span>Close</span>
        </button>
    </div>
</dialog>

</html>